version: '3.9'

services:
  web:
    build: .
    container_name: diarisation-api
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - MONGO_DB=diarisation_db

  mongo:
    image: mongo:6
    container_name: diarisation-db
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
