fastapi
uvicorn
python-multipart
psycopg2-binary
sqlalchemy
python-dotenv
pydantic
werkzeug
alembic
python-jose[cryptography]

# Audio processing and transcription
openai-whisper
ffmpeg-python
openai-whisper
pyannote.audio
torch
torchaudio
scikit-learn
git+https://github.com/alunkingusw/brouhaha-vad.git@main
numpy