Your transcript has been received successfully.

Job ID: {{ job_id }}
File: {{ filename }}
{% if group_name %}
Group: {{ group_name }}
{% endif %}
Meeting date: {{ meeting_date }}

It has been added to the processing queue. You will receive another email once it has been
added to your group's records.
